<main class="form-signin w-100 m-auto rounded-3xl my-2 bg-black bg-opacity-80">
  <form #loginForm="ngForm" (ngSubmit)="login(this.loginForm)">
    <h1 class="h3 text-center mb-3 fw-normal text-white">Sign In</h1>

    <div class="form-floating">
      <input
      #userName="ngModel" [(ngModel)]="model.userName"
        type="text"
        class="form-control"
        id="Username"
        name="Username"
        placeholder="Username"
      />
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating my-2">
      <input  #password="ngModel" [(ngModel)]="model.password"
        type="text"
        class="form-control"
        id="password"
        name="password"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>

    
    <button class="btn btn-outline-primary w-100 py-2 mb-3" type="submit">
      Sign in
    </button>
    <div class="text-center">
      <a
        name="routeSignUp"
        id="routeSignUp"
        class="btn btn-light btn-sm w-1/2"
        role="button"
      >
        Sign Up</a
      >
    </div>
  </form>
</main>
