<main class="form-signin w-100 m-auto rounded-3xl my-2 bg-black bg-opacity-80">
  <form>
    <h1 class="h3 text-center mb-3 fw-normal text-white">Sign In</h1>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Username"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating my-2">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
      />
      <label for="floatingPassword">Password</label>
    </div>

    
    <button class="btn btn-outline-primary w-100 py-2 mb-3" type="submit">
      Sign in
    </button>
    <div class="text-center">
      <a
        name=""
        id=""
        class="btn btn-light btn-sm w-1/2"
        href="#"
        role="button"
      >
        Sign Up</a
      >
    </div>
  </form>
</main>
